**POKEMON DATA ANALYSIS**

(using Pandas)

In [4]:
import pandas as pd

#Read csv fils
Data_csv = pd.read_csv('D:\Python File\Pandas_Tutorial\Sample_data\pokemon_data.csv')
print(Data_csv.head(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
1  2                    Ivysaur  Grass  Poison    405  60      62       63
2  3                   Venusaur  Grass  Poison    525  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9  7                   Squirtle  Water     NaN    314  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False

In [7]:
#Read txt file
Data_txt = pd.read_csv('D:\Python File\Pandas_Tutorial\Sample_data\pokemon_data.csv', delimiter='\t')
print(Data_txt.head(10))

  #,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0  1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45...
1  2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1...
2  3,Venusaur,Grass,Poison,525,80,82,83,100,100,8...
3  3,VenusaurMega Venusaur,Grass,Poison,625,80,10...
4   4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
5   5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False
6  6,Charizard,Fire,Flying,534,78,84,78,109,85,10...
7  6,CharizardMega Charizard X,Fire,Dragon,634,78...
8  6,CharizardMega Charizard Y,Fire,Flying,634,78...
9    7,Squirtle,Water,,314,44,48,65,50,64,43,1,False

**Read headings (title)**

In [13]:
print(Data_csv.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

**Reading Columns**

In [14]:
print(Data_csv["Name"][0:11]) #=print(Data_csv.Name[0:11])

0                     Bulbasaur
1                       Ivysaur
2                      Venusaur
3         VenusaurMega Venusaur
4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
Name: Name, dtype: object

**Reading Rows**

In [19]:
print(Data_csv.iloc[1])
print("\n")
print(Data_csv.iloc[1:3])

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
Total             405
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object


   #      Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
1  2   Ivysaur  Grass  Poison    405  60      62       63       80       80
2  3  Venusaur  Grass  Poison    525  80      82       83      100      100

   Speed  Generation  Legendary
1     60           1      False
2     80           1      False

**Readings Cell**

iloc[r, c]

- r: row
- c: column

In [22]:
print(Data_csv.iloc[5,1])

Charmeleon

In [1]:
#for num, row in Data_csv.iterrows():
#    print(num, row['Name'], row['HP'])

In [7]:
#Doc data theo dieu kien nhat dinh
print(Data_csv.loc[Data_csv["Type 1"]=="Fire"].head(10))

     #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
4    4                 Charmander   Fire     NaN    309  39      52       43
5    5                 Charmeleon   Fire     NaN    405  58      64       58
6    6                  Charizard   Fire  Flying    534  78      84       78
7    6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8    6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
42  37                     Vulpix   Fire     NaN    299  38      41       40
43  38                  Ninetales   Fire     NaN    505  73      76       75
63  58                  Growlithe   Fire     NaN    350  55      70       45
64  59                   Arcanine   Fire     NaN    555  90     110       80
83  77                     Ponyta   Fire     NaN    410  50      85       55

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
42       50       65     65           1      False
43       81      100    100           1      False
63       70       50     60           1      False
64      100       80     95           1      False
83       65       65     90           1      False

**Describe data (min, max, sum, average)**

In [25]:
Data_csv.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

**Sort data with name**

In [8]:
Data_csv.sort_values('Name', ascending=0 ) #Descreasing 
Data_csv.sort_values("HP", ascending=1) #Increasing
print(Data_csv.sort_values(["Name", "HP"], ascending=[1,1]).head(10))

       #                       Name   Type 1  Type 2  Total  HP  Attack  \
510  460                  Abomasnow    Grass     Ice    494  90      92
511  460    AbomasnowMega Abomasnow    Grass     Ice    594  90     132
68    63                       Abra  Psychic     NaN    310  25      20
392  359                      Absol     Dark     NaN    465  65     130
393  359            AbsolMega Absol     Dark     NaN    565  65     150
678  617                   Accelgor      Bug     NaN    495  80      70
750  681       AegislashBlade Forme    Steel   Ghost    520  60     150
751  681      AegislashShield Forme    Steel   Ghost    520  60      50
153  142                 Aerodactyl     Rock  Flying    515  80     105
154  142  AerodactylMega Aerodactyl     Rock  Flying    615  80     135

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
510       75       92       85     60           4      False
511      105      132      105     30           4      False
68        15      105       55     90           1      False
392       60       75       60     75           3      False
393       60      115       60    115           3      False
678       40      100       60    145           5      False
750       50      150       50     60           6      False
751      150       50      150     60           6      False
153       65       60       75    130           1      False
154       85       70       95    150           1      False

**Changes the Data**
- Change 1 data column

In [9]:
Data_csv["HP"]=50
print(Data_csv.HP.head(10))

0    50
1    50
2    50
3    50
4    50
5    50
6    50
7    50
8    50
9    50
Name: HP, dtype: int64

- Change particular data

In [31]:
print(Data_csv.iloc[0,2])
Data_csv.iloc[0,2]="Fire"
print(Data_csv.iloc[0,2])

Grass
Fire

**Insert new columns**

In [35]:
Data_csv["SUM"]=Data_csv.HP + Data_csv.Attack + Data_csv.Defense
#print(Data_csv.SUM[0:11])
print(Data_csv[0:11])

    #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0   1                  Bulbasaur   Fire  Poison    318  50      49       49
1   2                    Ivysaur  Grass  Poison    405  50      62       63
2   3                   Venusaur  Grass  Poison    525  50      82       83
3   3      VenusaurMega Venusaur  Grass  Poison    625  50     100      123
4   4                 Charmander   Fire     NaN    309  50      52       43
5   5                 Charmeleon   Fire     NaN    405  50      64       58
6   6                  Charizard   Fire  Flying    534  50      84       78
7   6  CharizardMega Charizard X   Fire  Dragon    634  50     130      111
8   6  CharizardMega Charizard Y   Fire  Flying    634  50     104       78
9   7                   Squirtle  Water     NaN    314  50      48       65
10  8                  Wartortle  Water     NaN    405  50      63       80

    Sp. Atk  Sp. Def  Speed  Generation  Legendary  SUM
0        65       65     45           1      False  148
1        80       80     60           1      False  175
2       100      100     80           1      False  215
3       122      120     80           1      False  273
4        60       50     65           1      False  145
5        80       65     80           1      False  172
6       109       85    100           1      False  212
7       130       85    100           1      False  291
8       159      115    100           1      False  232
9        50       64     43           1      False  163
10       65       80     58           1      False  193

In [49]:
#Insert New Column cach 2
Data_csv["SUM"]=Data_csv.iloc[:,4:11].sum(axis=1)
print(Data_csv.iloc[0:10, :])

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur   Fire  Poison    318  50      49       49
1  2                    Ivysaur  Grass  Poison    405  50      62       63
2  3                   Venusaur  Grass  Poison    525  50      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  50     100      123
4  4                 Charmander   Fire     NaN    309  50      52       43
5  5                 Charmeleon   Fire     NaN    405  50      64       58
6  6                  Charizard   Fire  Flying    534  50      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  50     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  50     104       78
9  7                   Squirtle  Water     NaN    314  50      48       65

   Sp. Atk  Sp. Def  Legendary  Generation     SUM
0       65       65      False           1   596.0
1       80       80      False           1   740.0
2      100      100      False           1   940.0
3      122      120      False           1  1140.0
4       60       50      False           1   564.0
5       80       65      False           1   722.0
6      109       85      False           1   940.0
7      130       85      False           1  1140.0
8      159      115      False           1  1140.0
9       50       64      False           1   591.0

**Change vị trí của các columns**

In [11]:
cols=list(Data_csv.columns.values)
Data_csv=Data_csv[cols[0:10]+[cols[-1]]+cols[10:12]] 
print(Data_csv.head(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  50      49       49
1  2                    Ivysaur  Grass  Poison    405  50      62       63
2  3                   Venusaur  Grass  Poison    525  50      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  50     100      123
4  4                 Charmander   Fire     NaN    309  50      52       43
5  5                 Charmeleon   Fire     NaN    405  50      64       58
6  6                  Charizard   Fire  Flying    534  50      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  50     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  50     104       78
9  7                   Squirtle  Water     NaN    314  50      48       65

   Sp. Atk  Sp. Def  Generation  Legendary  Speed
0       65       65           1      False     45
1       80       80           1      False     60
2      100      100           1      False     80
3      122      120           1      False     80
4       60       50           1      False     65
5       80       65           1      False     80
6      109       85           1      False    100
7      130       85           1      False    100
8      159      115           1      False    100
9       50       64           1      False     43

**DELETE COLUMNS**

In [48]:
#Data_csv = Data_csv.drop(columns=["SUM"])
#print(Data_csv[0:11])

    #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0   1                  Bulbasaur   Fire  Poison    318  50      49       49
1   2                    Ivysaur  Grass  Poison    405  50      62       63
2   3                   Venusaur  Grass  Poison    525  50      82       83
3   3      VenusaurMega Venusaur  Grass  Poison    625  50     100      123
4   4                 Charmander   Fire     NaN    309  50      52       43
5   5                 Charmeleon   Fire     NaN    405  50      64       58
6   6                  Charizard   Fire  Flying    534  50      84       78
7   6  CharizardMega Charizard X   Fire  Dragon    634  50     130      111
8   6  CharizardMega Charizard Y   Fire  Flying    634  50     104       78
9   7                   Squirtle  Water     NaN    314  50      48       65
10  8                  Wartortle  Water     NaN    405  50      63       80

    Sp. Atk  Sp. Def  Legendary  Generation
0        65       65      False           1
1        80       80      False           1
2       100      100      False           1
3       122      120      False           1
4        60       50      False           1
5        80       65      False           1
6       109       85      False           1
7       130       85      False           1
8       159      115      False           1
9        50       64      False           1
10       65       80      False           1

**SAVE DATA**

In [59]:
Data_modified_csv = Data_csv.to_csv("D:\Python File\Pandas_Tutorial\Sample_data\modified.csv")
Data_modified_txt = Data_csv.to_csv("D:\Python File\Pandas_Tutorial\Sample_data\modified.txt", sep="\t")

**FILLTER DATAS**

In [66]:
#Fillter the Pokemon that Fire and HP=50 and Attack= 52
Pokemon=Data_csv.loc[(Data_csv["Type 1"]=='Fire')&(Data_csv["HP"]==50)&(Data_csv["Attack"]==52)]
print(Pokemon.Name)

4      Charmander
169     Cyndaquil
Name: Name, dtype: object

Reset index from filltered

In [67]:
Pokemon_Reset_Index = Pokemon.reset_index()
print(Pokemon_Reset_Index.Name)

0    Charmander
1     Cyndaquil
Name: Name, dtype: object

In [76]:
#Filter the Pokemon that Fire and its name include 'Mega'
Pokemon_Mega = Data_csv.loc[(Data_csv["Type 1"]=="Fire") & (Data_csv.Name.str.contains("Mega"))]
Pokemon_Mega = Pokemon_Mega.reset_index()
print(Pokemon_Mega)

   index    #                       Name Type 1    Type 2  Total  HP  Attack  \
0      7    6  CharizardMega Charizard X   Fire    Dragon    634  78     130
1      8    6  CharizardMega Charizard Y   Fire    Flying    634  78     104
2    279  257      BlazikenMega Blaziken   Fire  Fighting    630  80     160
3    354  323      CameruptMega Camerupt   Fire    Ground    560  70     120

   Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      111      130       85    100           1      False
1       78      159      115    100           1      False
2       80      130       80    100           3      False
3      100      145      105     20           3      False

In [12]:
#Filter the Pokemon that Fire and its name didn't include 'Mega'
Pokemon_unMega = Data_csv.loc[(Data_csv["Type 1"]=="Fire") & (~Data_csv.Name.str.contains("Mega"))]
Pokemon_unMega = Pokemon_unMega.reset_index()
print(Pokemon_unMega.head(10))

   index    #        Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
0      4    4  Charmander   Fire     NaN    309  50      52       43       60
1      5    5  Charmeleon   Fire     NaN    405  50      64       58       80
2      6    6   Charizard   Fire  Flying    534  50      84       78      109
3     42   37      Vulpix   Fire     NaN    299  50      41       40       50
4     43   38   Ninetales   Fire     NaN    505  50      76       75       81
5     63   58   Growlithe   Fire     NaN    350  50      70       45       70
6     64   59    Arcanine   Fire     NaN    555  50     110       80      100
7     83   77      Ponyta   Fire     NaN    410  50      85       55       65
8     84   78    Rapidash   Fire     NaN    500  50     100       70       80
9    135  126      Magmar   Fire     NaN    495  50      95       57      100

   Sp. Def  Generation  Legendary  Speed
0       50           1      False     65
1       65           1      False     80
2       85           1      False    100
3       65           1      False     65
4      100           1      False    100
5       50           1      False     60
6       80           1      False     95
7       65           1      False     90
8       80           1      False    105
9       85           1      False     93

In [13]:
#Find Pokemon so that Type 1 = Fire or Grass 
Pokemon_ = Data_csv.loc[(Data_csv["Type 1"].str.contains("Fire|Grass"))]
Pokemon_ = Pokemon_.reset_index()
print(Pokemon_.head(10))

   index   #                       Name Type 1  Type 2  Total  HP  Attack  \
0      0   1                  Bulbasaur  Grass  Poison    318  50      49
1      1   2                    Ivysaur  Grass  Poison    405  50      62
2      2   3                   Venusaur  Grass  Poison    525  50      82
3      3   3      VenusaurMega Venusaur  Grass  Poison    625  50     100
4      4   4                 Charmander   Fire     NaN    309  50      52
5      5   5                 Charmeleon   Fire     NaN    405  50      64
6      6   6                  Charizard   Fire  Flying    534  50      84
7      7   6  CharizardMega Charizard X   Fire  Dragon    634  50     130
8      8   6  CharizardMega Charizard Y   Fire  Flying    634  50     104
9     42  37                     Vulpix   Fire     NaN    299  50      41

   Defense  Sp. Atk  Sp. Def  Generation  Legendary  Speed
0       49       65       65           1      False     45
1       63       80       80           1      False     60
2       83      100      100           1      False     80
3      123      122      120           1      False     80
4       43       60       50           1      False     65
5       58       80       65           1      False     80
6       78      109       85           1      False    100
7      111      130       85           1      False    100
8       78      159      115           1      False    100
9       40       50       65           1      False     65

In [14]:
#Tim pokemon ma ten bat dau bang chu "Pi"
import re #regular expression dung de search unicode string va 8 bit strings
_Pokemon = Data_csv.loc[(Data_csv["Name"].str.contains("^Pi[a-z]*", regex=True))]
# '^' để kí hiệu từ bắt đầu bằng Pi
# '[a-z]' các chữ cái tiếp theo bắt đầu từ a đến z
# '*' Dùng để tìm kiếm hết tất cả thỏa điều kiện
print(_Pokemon.head(20))

       #                 Name    Type 1    Type 2  Total  HP  Attack  Defense  \
20    16               Pidgey    Normal    Flying    251  50      45       40
21    17            Pidgeotto    Normal    Flying    349  50      60       55
22    18              Pidgeot    Normal    Flying    479  50      80       75
23    18  PidgeotMega Pidgeot    Normal    Flying    579  50      80       80
30    25              Pikachu  Electric       NaN    320  50      55       40
136  127               Pinsir       Bug       NaN    500  50     125      100
137  127    PinsirMega Pinsir       Bug    Flying    600  50     155      120
186  172                Pichu  Electric       NaN    205  50      40       15
219  204               Pineco       Bug       NaN    290  50      65       90
239  221            Piloswine       Ice    Ground    450  50     100       80
438  393               Piplup     Water       NaN    314  50      51       53
558  499              Pignite      Fire  Fighting    418  50      93       55
578  519               Pidove    Normal    Flying    264  50      55       50

     Sp. Atk  Sp. Def  Generation  Legendary  Speed
20        35       35           1      False     56
21        50       50           1      False     71
22        70       70           1      False    101
23       135       80           1      False    121
30        50       50           1      False     90
136       55       70           1      False     85
137       65       90           1      False    105
186       35       35           2      False     60
219       35       35           2      False     15
239       60       60           2      False     50
438       61       56           4      False     40
558       70       55           5      False     55
578       36       30           5      False     43

**Thay đổi dữ liệu của một dữ kiện nào đó**

In [16]:
#Change Type 1 from 'fire' to 'lửa'
Data_csv.loc[(Data_csv["Type 1"]=="Fire", "Type 1")] ="Lửa"
Data_csv.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary,Speed
0,1,Bulbasaur,Grass,Poison,318,50,49,49,65,65,1,False,45
1,2,Ivysaur,Grass,Poison,405,50,62,63,80,80,1,False,60
2,3,Venusaur,Grass,Poison,525,50,82,83,100,100,1,False,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,50,100,123,122,120,1,False,80
4,4,Charmander,Lửa,NaN,309,50,52,43,60,50,1,False,65
5,5,Charmeleon,Lửa,NaN,405,50,64,58,80,65,1,False,80
6,6,Charizard,Lửa,Flying,534,50,84,78,109,85,1,False,100
7,6,CharizardMega Charizard X,Lửa,Dragon,634,50,130,111,130,85,1,False,100
8,6,CharizardMega Charizard Y,Lửa,Flying,634,50,104,78,159,115,1,False,100
9,7,Squirtle,Water,NaN,314,50,48,65,50,64,1,False,43
10,8,Wartortle,Water,NaN,405,50,63,80,65,80,1,False,58
11,9,Blastoise,Water,NaN,530,50,83,100,85,105,1,False,78
12,9,BlastoiseMega Blastoise,Water,NaN,630,50,103,120,135,115,1,False,78
13,10,Caterpie,Bug,NaN,195,50,30,35,20,20,1,False,45
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,1,False,30
15,12,Butterfree,Bug,Flying,395,50,45,50,90,80,1,False,70
16,13,Weedle,Bug,Poison,195,50,35,30,20,20,1,False,50
17,14,Kakuna,Bug,Poison,205,50,25,50,25,25,1,False,35
18,15,Beedrill,Bug,Poison,395,50,90,40,45,80,1,False,75
19,15,BeedrillMega Beedrill,Bug,Poison,495,50,150,40,15,80,1,False,145

In [17]:
#Pokemon có hệ "Grass" thì đổi speed = 0
Data_csv.loc[(Data_csv["Type 1"]=="Grass", "Speed")] = 0
Data_csv.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary,Speed
0,1,Bulbasaur,Grass,Poison,318,50,49,49,65,65,1,False,0
1,2,Ivysaur,Grass,Poison,405,50,62,63,80,80,1,False,0
2,3,Venusaur,Grass,Poison,525,50,82,83,100,100,1,False,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,50,100,123,122,120,1,False,0
4,4,Charmander,Lửa,NaN,309,50,52,43,60,50,1,False,65
5,5,Charmeleon,Lửa,NaN,405,50,64,58,80,65,1,False,80
6,6,Charizard,Lửa,Flying,534,50,84,78,109,85,1,False,100
7,6,CharizardMega Charizard X,Lửa,Dragon,634,50,130,111,130,85,1,False,100
8,6,CharizardMega Charizard Y,Lửa,Flying,634,50,104,78,159,115,1,False,100
9,7,Squirtle,Water,NaN,314,50,48,65,50,64,1,False,43
10,8,Wartortle,Water,NaN,405,50,63,80,65,80,1,False,58
11,9,Blastoise,Water,NaN,530,50,83,100,85,105,1,False,78
12,9,BlastoiseMega Blastoise,Water,NaN,630,50,103,120,135,115,1,False,78
13,10,Caterpie,Bug,NaN,195,50,30,35,20,20,1,False,45
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,1,False,30
15,12,Butterfree,Bug,Flying,395,50,45,50,90,80,1,False,70
16,13,Weedle,Bug,Poison,195,50,35,30,20,20,1,False,50
17,14,Kakuna,Bug,Poison,205,50,25,50,25,25,1,False,35
18,15,Beedrill,Bug,Poison,395,50,90,40,45,80,1,False,75
19,15,BeedrillMega Beedrill,Bug,Poison,495,50,150,40,15,80,1,False,145

In [18]:
# Những pokemon có attack > 50 và hệ cỏ thì speed và defense đều =0
Data_csv.loc[(Data_csv["Attack"]>50) & (Data_csv["Type 1"]=="Grass"), ["Speed", "Defense"]]= 0
Data_csv.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,Legendary,Speed
0,1,Bulbasaur,Grass,Poison,318,50,49,49,65,65,1,False,0
1,2,Ivysaur,Grass,Poison,405,50,62,0,80,80,1,False,0
2,3,Venusaur,Grass,Poison,525,50,82,0,100,100,1,False,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,50,100,0,122,120,1,False,0
4,4,Charmander,Lửa,NaN,309,50,52,43,60,50,1,False,65
5,5,Charmeleon,Lửa,NaN,405,50,64,58,80,65,1,False,80
6,6,Charizard,Lửa,Flying,534,50,84,78,109,85,1,False,100
7,6,CharizardMega Charizard X,Lửa,Dragon,634,50,130,111,130,85,1,False,100
8,6,CharizardMega Charizard Y,Lửa,Flying,634,50,104,78,159,115,1,False,100
9,7,Squirtle,Water,NaN,314,50,48,65,50,64,1,False,43
10,8,Wartortle,Water,NaN,405,50,63,80,65,80,1,False,58
11,9,Blastoise,Water,NaN,530,50,83,100,85,105,1,False,78
12,9,BlastoiseMega Blastoise,Water,NaN,630,50,103,120,135,115,1,False,78
13,10,Caterpie,Bug,NaN,195,50,30,35,20,20,1,False,45
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,1,False,30
15,12,Butterfree,Bug,Flying,395,50,45,50,90,80,1,False,70
16,13,Weedle,Bug,Poison,195,50,35,30,20,20,1,False,50
17,14,Kakuna,Bug,Poison,205,50,25,50,25,25,1,False,35
18,15,Beedrill,Bug,Poison,395,50,90,40,45,80,1,False,75
19,15,BeedrillMega Beedrill,Bug,Poison,495,50,150,40,15,80,1,False,145

**MATH**

- Average (avg):

In [19]:
import pandas as pd 
data=pd.read_csv("D:\Python File\Pandas_Tutorial\Sample_data\pokemon_data.csv")
mean_data = data.groupby(data["Type 1"]).mean().sort_values("Attack", ascending=False)
mean_data

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

- (sum):

In [20]:
sum_data = data.groupby(data["Type 1"]).sum().sort_values("Attack", ascending=False)
sum_data

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Water,33946,48211,8071,8305,8170,8379,7898,7388,320,4
Normal,31279,39365,7573,7200,5865,5470,6245,7012,299,2
Grass,24141,29480,4709,5125,4956,5425,4930,4335,235,3
Bug,23080,26146,3925,4897,4880,3717,4471,4256,222,0
Fire,17025,23820,3635,4408,3524,4627,3755,3871,167,5
Rock,17280,19965,2876,4086,4435,2787,3321,2460,152,4
Psychic,21706,27129,4026,4073,3858,5609,4918,4645,193,14
Dragon,15180,17617,2666,3588,2764,3099,2843,2657,124,12
Ground,11401,14000,2361,3064,2715,1807,2008,2045,101,4
Electric,15994,19510,2631,3040,2917,3961,3243,3718,144,4
Dark,14302,13818,2071,2740,2177,2314,2155,2361,125,2
Fighting,9824,11244,1886,2613,1780,1434,1747,1784,91,0
Steel,11957,13168,1761,2503,3412,1823,2177,1492,104,4
Ghost,15568,14066,2062,2361,2598,2539,2447,2059,134,2
Poison,7050,11176,1883,2091,1927,1692,1803,1780,71,0
Ice,10165,10403,1728,1746,1714,1861,1831,1523,85,2
Fairy,7642,7024,1260,1046,1117,1335,1440,826,70,1
Flying,2711,1940,283,315,265,377,290,410,22,2

- (count)

In [21]:
count_data = data.groupby([data["Type 1"], data["Type 2"]]).count()
count_data.head(10)

                  #  Name  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2
Bug    Electric   2     2      2   2       2        2        2        2
       Fighting   2     2      2   2       2        2        2        2
       Fire       2     2      2   2       2        2        2        2
       Flying    14    14     14  14      14       14       14       14
       Ghost      1     1      1   1       1        1        1        1
       Grass      6     6      6   6       6        6        6        6
       Ground     2     2      2   2       2        2        2        2
       Poison    12    12     12  12      12       12       12       12
       Rock       3     3      3   3       3        3        3        3
       Steel      7     7      7   7       7        7        7        7

                 Speed  Generation  Legendary
Type 1 Type 2
Bug    Electric      2           2          2
       Fighting      2           2          2
       Fire          2           2          2
       Flying       14          14         14
       Ghost         1           1          1
       Grass         6           6          6
       Ground        2           2          2
       Poison       12          12         12
       Rock          3           3          3
       Steel         7           7          7

**DATA DIVIDED**

- pp chunk size

In [24]:
#for data_frame in pd.read_csv("D:\Python File\Pandas_Tutorial\Sample_data\pokemon_data.csv", chunksize=3):
#    print(data_frame.head(18))